@model IEnumerable<Pascu_Serban_Proiect.Models.ToyShopViewModels.OrderGroup>

@{ 
    ViewData["Title"] = "Ordered Toys Statistics";
}

<h2>Ordered Toys Statistics</h2>

<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Toys
        </th>
    </tr>

    @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @item.ToyCount
                </td>
            </tr>
        }
</table>